* {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #2c2b3d;
  color: #fff;
  min-width: 100vh;
  margin: 70px auto 25px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.item {
  opacity: 0.5;
  color: #fff;
}

.item:hover {
  opacity: 1;
  transform: 1s;
}

main {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px auto 120px;
}

.main-image section {
  gap: 80px;
}

.title {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 60px;
}

.subtitle {
  width: 604px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #c2c2c2;
}

.subtitle strong,
b {
  font-weight: bold;
}

.subtitle b {
  color: #00bfa6;
}

footer {
  align-items: center;
}

.footer {
  text-align: center;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin: 25px auto 25px;
}

.footer a {
  color: #fff;
}

.line-footer {
  margin: 0 auto 60px;
  border: 0.1px solid #00bfa6;
  width: 570px;
  height: 0px;
  text-align: center;
}

.padlock-decoration {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
